{% from 'intl.html.twig' import _e %}

<div class="container py-3">
    <div class="row">
        <div class="d-none d-md-block col-md">
            <h3>{{ _(_self, 'contact') }}</h3>
            {% include '_component/office/contact-phone.html.twig' with {
                number: _('office', 'London.phone'),
                description: _('office', 'London.phoneDesc'),
                linkColor: 'text-dark',
            } only %}
            <div class="d-flex">
                <i class="fas fa-envelope-open fa-fw mx-3 my-1"></i>
                <div>
                    {{ _e(_self, 'contactCta.main', {
                        cta: '<a href="' ~ _(_self, 'contactCta.link') ~ '">' ~ _(_self, 'contactCta.cta') ~ '</a>',
                    }) }}
                </div>
            </div>
        </div>
        {% include 'nav/menu/cms-category.html.twig' with {
            data: data,
        } only %}
    </div>
</div>