<div class="container py-3">
    <div class="row">
        <div class="d-none d-md-block col-md">
            <h3>{{ _(_self, 'contact') }}</h3>
            <p>Phone number and link to contact section on homepage</p>
        </div>
        {% include 'nav/menu/cms-category.html.twig' with {
            data: data,
        } only %}
    </div>
</div>