<div class="container py-3">
    <div class="row">
        <div class="col-12">
            <h3 class="d-none d-md-block">{{ _(_self, 'campaigns') }}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="d-none d-md-block nav__menu__campaigns__scroll">
                {% for campaignGroup in data %}
                    {% set campaign = campaignGroup.getIntl() ?? campaignGroup.getFallback() %}
                    <div class="nav__menu__campaigns__scroll__item d-inline-block m-2">
                        {% include 'story/story.html.twig' with {
                            story: {
                                featureImage: campaign.featureImage,
                                title: campaign.title,
                                slug: campaign.slug,
                            },
                            type: 'page',
                        } only %}
                    </div>
                {% endfor %}
            </div>
            <div class="d-block d-md-none nav__menu__items">
                {% for campaignGroup in data %}
                    {% set campaign = campaignGroup.getIntl() ?? campaignGroup.getFallback() %}
                    <a href="/page/{{ campaign.slug }}"
                       class="d-block my-3"
                    >
                        <span>{{ campaign.title }}</span>
                    </a>
                {% endfor %}
            </div>
        </div>

    </div>
</div>