{% for subcategory in data %}
    <div class="col-12 col-md">
        <h3>{{ _(_self, subcategory.tag.slug) }}</h3>
        <div class="nav__menu__items">
            {% for page in subcategory.pages %}
                <a href="{{ _a('/page/' ~ page[_fallback].slug) }}"
                   class="d-block my-3"
                >
                    {% if page[_language] is defined %}
                        <span>{{ page[_language].title }}</span>
                    {% else %}
                        <span>{{ page[_fallback].title }}</span>
                    {% endif %}
                </a>
            {% endfor %}
        </div>
    </div>
{% endfor %}