<div class="container py-3">
    <div class="row">
        <div class="col-12 col-md-4">
            <h3 class="d-none d-md-block">{{ _(_self, 'explore') }}</h3>
            <div class="nav__menu__items">
                {% for link in ['press releases', 'blog', 'in the news'] %}
                    <a href="#"
                       class="d-block my-3"
                    >
                        <span>{{ _(_self, link) }}</span>
                    </a>
                {% endfor %}
            </div>
        </div>
        <div class="d-none d-md-block col-8">
            <h3>{{ _(_self, 'latest') }}</h3>
            <div class="row">
                {% for story in data %}
                    <div class="col-6 d-flex">
                        {% include 'story/story.html.twig' with {
                            story: story.getIntl() ?? story.getFallback(),
                        } only %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>