{% extends 'root.html.twig' %}

{% set page = pageGroup.getIntl() ?? pageGroup.getFallback() %}

{% block head %}
    {% include 'content-meta.html.twig' with {
        resource: page,
    } only %}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8 offset-md-2">
                {% include '_component/pageHeading.html.twig' with {
                    text: page.title,
                } only %}
                <div class="page__body">
                    {% autoescape false %}
                        {{ page.html }}
                    {% endautoescape %}
                </div>
                {% if relatedContent|length > 0 %}
                    {% include 'story/story-grid.html.twig' with {
                        stories: relatedContent,
                        title: _(_self, relatedTitleKey),
                    } only %}
                {% endif %}

            </div>
        </div>
    </div>

{% endblock %}