@import '../util';

.covid {
    h1 {
        font-size: 4rem;
    }

    //noinspection CssReplaceWithShorthandSafely
    &__background {

        @include media-breakpoint-up(md) {
            background: linear-gradient(90deg, rgb(0, 0, 0) 30%, rgba(255,255,255,0) 100%),
            url('https://cdn.iwgb.org.uk/assets/virus.jpg'),
            #000;
            background-size: 50% !important;
        }

        @include media-breakpoint-down(sm) {
            background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgba(255,255,255,0) 100%),
            url('https://cdn.iwgb.org.uk/assets/virus.jpg'),
            #000;
            background-size: 80% !important;
        }

        background-position: right !important;
        background-repeat: no-repeat !important;
    }
}

.hero {
    background-color: black;

    &__slideshow {
        filter: grayscale(1);
    }

    &__brand {
        background-color: rgba(black, 0.5);
        box-shadow: 0 0 20px 20px rgba(black, 0.5);

        &__roundel {
            height: $roundelHeight
        }

        &__wordmark {
            height: $largeWordmarkHeight
        }

        &__names {
            justify-self: flex-start;

            &__long {
                font-size: $font-size-lg;
            }
        }

        &__slogan {
            font-size: 1.7rem;
        }
    }
}

.moreStories {
    font-size: $font-size-lg;
}

@mixin tile($directionLabel, $direction, $flexDirection) {

    .tile--#{$directionLabel} {
        text-align: $direction;
        flex-direction: $flexDirection;

        .tile {
            $margin: 10rem;

            &__text {
                padding-top: 5rem;

                @include media-breakpoint-up(md) {
                    background: none !important;
                    margin-#{$direction}: $margin * -1;
                }

                @include media-breakpoint-down(sm) {
                    text-align: left;
                }

                &__part {
                    @include stripeText;
                    font-size: 6rem;
                    line-height: normal;

                    @include media-breakpoint-down(sm) {
                        font-size: 4rem;
                    }

                    &--bottom {
                        @include media-breakpoint-up(md) {
                            margin-#{$direction}: 5rem;
                        }

                        @include media-breakpoint-down(sm) {
                            margin-left: 5rem;
                        }
                    }
                }

                &__description {
                    margin-#{$direction}: $margin;
                    background-color: white;
                }
            }

            &__image {
                height: auto;
                margin-#{$direction}: 5rem;
            }
        }
    }
}

.benefits {
    height: 50vh;
    min-height: 27rem;

    &__heading {
        @include stripeText;
        font-size: 4rem;

        @include media-breakpoint-up(md) {
            font-size: 5rem;
        }
    }
}

@include tile(left, left, row);
@include tile(right, right, row-reverse);
