{% from 'intl.html.twig' import _e %}

<div class="container-fluid bg-dark text-white"
     id="contact"
>
    <div class="container">
        <div class="row mb-5">
            <div class="col-12 pt-5">
                <h1 class="contact__header">{{ _(_self, 'heading') }}</h1>
                <p>{{ _(_self, 'text') }}</p>
                <p><a href="{{ _(_self, 'cta.href') }}" class="btn btn-iwgb">{{ _(_self, 'cta.text') }}</a></p>
            </div>
        </div>
        {% include '_component/office/office.html.twig' with {
            office: 'London',
        } only %}
    </div>
</div>
