@import '../util';

.covid {

    &__art {

        $height: 42rem;

        &__bg {
            height: $height;
        }

        &__text {
            background-color: rgba($iwgbRedLight, .5);
            color: white;
            text-align: center;
            font-size: 3.8rem;
            font-weight: 800;
            line-height: 1;
            padding: 1rem;
            font-family: "Montserrat", sans-serif;
            height: $height;

            p {
                margin: 0;
            }

            @include media-breakpoint-down(sm) {
                font-size: 4rem;
            }
        }

        &__hero {
            position: relative;
            top: -16rem;
            height: 37rem;
        }

        &__wordmark {
            position: relative;
            max-width: 100%;
            height: auto;
            top: -23rem;
        }

        @include media-breakpoint_down(xs) {

            $height: 125vw;

            &__bg {
                height: $height;
            }

            &__text {
                font-size: 9vw;
                height: $height;
            }

            &__hero {
                top: -32vw;
                height: 88vw;
            }

            &__wordmark {
                top: -60vw;
            }
        }
    }

    &__quote::before {
        content: "“";
        font-size: 4rem;
    }
}