<!doctype html>
<html lang="en">
<head>
    <title>Fight the system! - IWGB</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#962d22">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/combine/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css,npm/cookieconsent@3.1.1/build/cookieconsent.min.css,npm/hamburgers@1.1.3/dist/hamburgers.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fira+Sans:400,400i,700,700i&display=swap">
    <link rel="stylesheet" href="https://iwgbassets-f208.kxcdn.com/static/css/style.css">
    <link rel="stylesheet" href="https://iwgbassets-f208.kxcdn.com/icons/css/all.css">
</head>
<body>
<div class="w-100 nav">
    <div id="nav"
         class="container-fluid nav__bar"
    >
        <div class="nav__bar__container container d-flex align-items-stretch justify-content-between">
            <div class="nav__bar__wordmark">
                <a href="/"
                   class="link-unstyled"
                >
                    <img alt="IWGB wordmark"
                         src="https://cdn.iwgb.org.uk/assets/wordmark-white.png"
                         class="mt-3"
                    >
                </a>
            </div>
            <div class="d-flex d-md-none flex-align-center">
                <div class="d-flex align-items-center pl-4">
                    <a href="/join"
                       class="btn btn-light nav__bar__items__join nav__bar__items__join--en">
                    </a>

                </div>
            </div>
            <div class="nav__bar__items d-none d-md-flex">
                <div class="d-flex align-items-center px-3">
                    <a href="/join"
                       class="btn btn-light nav__bar__items__join nav__bar__items__join--en">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid bg-image lazyload error__container vh-100"
     style="background-image: url(https://cdn.iwgb.org.uk/bucket/Press/5e5d2de3b04df.jpg)"
>
    <div class="row">
        <div class="col-10 offset-1 py-5 px-0">
            <span class="error__title">Fight the system!</span>
        </div>
    </div>
    <div class="row">
        <div class="col-10 col-md-4 offset-1 offset-md-7 bg-light error__text px-3 py-2">
            <h1>...not the website system 🤦</h1>
            <p>We&#039;ve run in to an error. A squad of highly trained digital activists have been dispatched to deal with the problem and we should be up and running shortly.</p>
            <p>We&#039;d recommend giving whatever you were trying to do another go - you never know, we might have fixed it already. Rest assured, this has been logged.</p>


            <p></p>
            <p class="text-muted">
                <span><br></span>
                <small class="text-muted">Cause: Fatal / job: 5edd314973b9f</small>
            </p>
        </div>
    </div>
</div>
<div class="container text-center footer__bottom my-5">
    <div>
        <small class="text-muted d-block">© Independent Workers Union of Great Britain 2020</small>
        <small class="text-muted d-block">Designed and built at the IWGB with love, care and coffee. Hasta la victoria siempre.</small>
        <small class="text-muted d-block d-flex justify-content-center">
            <span>Some icons ©&nbsp;</span>
            <a href="https://freepik.com"
               class="text-reset"
               target="_blank"
               referrerpolicy="no-referrer"
            >
                <span>Freepik</span>
            </a>

        </small>
        <small class="text-muted d-block">
            <a href="https://cms.iwgb.org.uk" class="text-reset">Log in</a>
            <span>&middot;</span>
            <span>5edd314973b9f</span>
            <span>&middot;</span>
            <span>en</span>
        </small>
    </div>
</div>

<!--suppress HtmlUnknownAttribute -->
<script src="https://cardinal.iwgb.org.uk/script.js" site="WLNHFBYA" defer></script>
</body>
</html>