{% extends 'root.html.twig' %}


{% block body %}
    <div class="container mt-3">

        {% include 'story/story-grid.html.twig' with {
            stories: stories,
            title: title,
        } only %}
        <div class="row justify-content-between m-3">
            <div>
                {% if page > 1 %}
                    <a href="/feed/{{ tag }}/{{ page - 1 }}" class="btn btn-light">
                        <i class="fas fa-angle-left"></i>
                        <span class="ml-1">Previous</span>
                    </a>
                {% endif %}
            </div>
            <div>
                {% if showNext %}
                    <a href="/feed/{{ tag }}/{{ page + 1 }}" class="btn btn-light">
                        <span class="mr-1">Next</span>
                        <i class="fas fa-angle-right"></i>
                    </a>
                {% endif %}
            </div>

        </div>
    </div>
{% endblock %}
